html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  /* fontFamily: "'Playfair Display', serif", */
  /* fontFamily: "'Dancing Script', cursive", */
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}
